:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-weight: 400;
}

button {
  border-radius: 8px;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #646cff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.chat-page {
  position: relative;
  width: 100%;
}
textarea {
  box-sizing: border-box;
  margin-right: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  resize: none;
}
textarea:focus-visible {
  outline: none;
}
textarea:hover {
  color: #646cff;
}
.send-btn {
  position: absolute;
  right: 30px;
  bottom: 14px;
  border-radius: 8px;
  border: none;
  padding: 8px 12px;
  font-weight: 400;
  background-color: #242424
}